.PasswordGetPage {
  font-size: 9.5pt;
  padding: 0 8px;
}

.PasswordGetPage .step {
  font-size: 11.5pt;
  font-weight: bold;
  padding: 8px 0;
}

.PasswordGetPage .cc1, 
.PasswordGetPage .cc2 {
  padding: 10px 8px;
}

.PasswordGetPage .cc1 {
  background-color: #eee;
}

.PasswordGetPage .cc2 {
  background-color: #eec;
}

.PasswordGetPage .lbl {
  line-height: 2.1;
}

.PasswordGetPage .btn {
  margin-top: 8px;
  text-align: right;
}

.PasswordGetPage a.simple_btn.green {
  padding: 1px 24px;
}

#idNewPassword {
  float: left;
  color: #e00;
  font-weight: bold;
}