.AbstractAttriPage table.form_tbl {
  margin: -1px 0;
  background-color: #ddd;
}

.AbstractAttriPage table.form_tbl .l {
  padding: 12px 6px;
}

.AbstractAttriPage .FormTableRowTemplatePage .tool_bar {
  padding: 10px;
  border: 1px solid #ddd;
}

.AbstractAttriPage .tt {
  background-color: #f6f6f6;
  border: 1px solid #ddd;
  color: #666;
  padding: 14px;
  font-size: 9.5pt;
}

.AbstractAttriPage .FormTableRowTemplatePage {
  padding: 1px 0;
}

.AbstractAttriPage .img_account {
  background-image: url("images/account.png");
}

.AbstractAttriPage .img_password {
  background-image: url("images/password.png");
}

.AbstractAttriPage .img_photo {
  background-image: url("images/photo.png");
}

.AbstractAttriPage .img_user {
  background-image: url("images/user.png");
}

/*-----------------------AccountPasswordFormPage----------------------*/
.UserAttriTPage .FormTemplatePage {
  text-align: left;
  margin-top: 40px;
  width: 650px;
}

/*-----------------------AccountPasswordFormPage----------------------*/
.AccountPasswordFormPage table.form_tbl .l {
  padding: 15px 6px;
}

.AccountPasswordFormPage {
  text-align: left;
  margin-top: 40px;
  width: 450px;
}

.AccountPasswordFormPage .pwdstrength {
  margin-top: 4px;
}

/*-----------------------AccountStatFormPage----------------------*/
.ui-window table.form_tbl .l {
  padding: 15px 6px;
}

.AccountStatFormPage {
  text-align: left;
  margin-top: 40px;
  width: 650px;
}

.AccountStatFormPage table.form_tbl .l {
  width: 150px;
}

.AccountStatFormPage .v .left {
  line-height: 2.1;
}

.AccountStatFormPage .v .right a.simple_btn {
  margin-right: 8px;
}

.AccountStatFormPage .desc {
  color: #888;
  padding: 10px 20px;
}

#mobile_binding,
#mail_binding {
  margin-bottom: 4px;
}

#mobile_binding_btn,
#mail_binding_btn {
  position: absolute;
  right: 8px;
  top: 10px;
}

/*-----------------------PhotoPage----------------------*/
.PhotoPage {
  text-align: left;
  margin-top: 40px;
  width: 450px;
}

.PhotoPage .tc {
  border: 1px solid #ccc;
  border-top: 0;
}

.PhotoPage .tc .photo {
  text-align: center;
  padding: 20px 0;
}

.PhotoPage .tc .upload {
  background-color: #f6f6f6;
  border-top: 1px solid #ccc;
}

.PhotoPage .photo_icon {
	width: 168px;
	height: 168px;
}

/*-----------------------PhotoUploadPage----------------------*/
.PhotoUploadPage {
  padding: 8px;
}

.PhotoUploadPage .btns {
  position: relative;
}

#user_photo, 
#btnUploadPhoto {
  position: absolute;
  right: 0px;
  top: 0px;
}

#user_photo {
  z-index: 10;
  filter: alpha(opacity = 0);
  opacity: 0;
  -moz-opacity: 0;
}

.PhotoUploadPage .desc {
  color: #666;
}

.PhotoUploadPage .err {
  color: #c00;
  margin-top: 10px;
  text-align: right;
}
