.RoleMgrPage {
  padding: 0;
}

.RoleMgrPage .ltb {
  background: #eef;
  border-bottom: 1px solid #aaa;
  padding: 6px 10px;
  overflow: hidden;
  _zoom: 1;
}

.RoleMgrPage .fixed_table {
  width: 100%;
}

#idRoleCategory {
  padding: 4px;
}